body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background: #222;
    color: #fff;
}

#maze {
    display: grid;
    margin-top: 20px;
}

.cell {
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 2px solid #fff;
}

.wall-top {
    border-top: 2px solid #fff;
}
.wall-right {
    border-right: 2px solid #fff;
}
.wall-bottom {
    border-bottom: 2px solid #fff;
}
.wall-left {
    border-left: 2px solid #fff;
}
