@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

body {
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.index{
    text-align: center;
    background-color: rgb(207, 234, 255);
    max-width: 600px;
    padding: 20px;
    border-radius: 45px;
}
.h1 {
    font: bold;
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
}

a{
 text-decoration: none;
 color: rgb(39, 174, 75);
}

a::after{
    text-decoration: none;
    color: rgb(22, 100, 43);
}
